<div id="<%= dom_id comercio %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= comercio.nombre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Direccion:</strong>
    <%= comercio.direccion %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitud:</strong>
    <%= comercio.latitud %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitud:</strong>
    <%= comercio.longitud %>
  </div>
</div>
