<div id="<%= dom_id lista_detalle %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Cantidad:</strong>
    <%= lista_detalle.cantidad %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prioridad:</strong>
    <%= lista_detalle.prioridad %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lista compra:</strong>
    <%= lista_detalle.lista_compra_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Producto:</strong>
    <%= lista_detalle.producto_id %>
  </div>
</div>
